# systemd service file to start python service

# change for your needs
# copy to  /etc/systemd/system/
# 

[Unit]
Description=Python Service
# wait for network
Wants=network.target 
# After=mosquitto.service # uncomment to wait for other service 
# Documentation=pending

[Service]
Type=simple
# Run as normal user
# make sure user/group exist, e.g adduser --system --group py
User=py
Group=py
# change to the location of the python script
WorkingDirectory=/opt/scripts 

Nice=5
# make sure it is this right path to python
ExecStart=/usr/bin/python3 python_service_script.py 
# Use SIGINT to stop
# KillSignal=SIGINT
# Auto restart on crash
Restart=on-failure
# Tag things in the log
# change to something meaningful
SyslogIdentifier=My_Python_Service 
#StandardOutput=syslog

[Install]
WantedBy=multi-user.target